// Variables
// --------------------------------------------------
//==Base color
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #FA8742 !default;
$yellow: #e8a82a !default;
$green: #60c2a7 !default;
$teal: #20c997 !default;
$cyan: #4AA898 !default;
$white: #fff !default;
$black: #000 !default;
// Brand colors
$brand-facebook: #3b5998;
$brand-twitter: #3a92c8;
$brand-google: #dd4b39;
$brand-dribbble: #c32361;
$brand-youtube: #b00;
$brand-pinterest: #cb2027;
$brand-instagram: #fb3958;
$brand-rss: #f26522;
$brand-linkedin: #007ebb;
// System colors
$brand-color: #00DAFF;
$brand-second: #52B5EE;
$brand-third: #0099fe;

//Text colors
$text-color: #9B9B9B;
$text-second: #3C4173;
$text-third: #999;
$border-color: #ededed;
$bg-color: #F0F0F0;
$radius: 10px;

//Font size
$font-size: 20px;


$font-family: 'Nunito Sans',
sans-serif;
$font-second: 'Oswald',
sans-serif;


// --------------------------------
